* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    width: 70%;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.cards-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card{
    width: 180px;
    height: 320px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-size: 12px;
}

.card .card-image {
    width: 100%;
    height: 240px;
    position: relative;
    margin-bottom: 8px; 
}

.card .card-image .image{
    width: 100%;
    border-radius: 9px;    
}

.card .card-image .sold-out {
    position: absolute;
    text-align: center;
    top: 3px;
    margin: 8px 10px;
    padding: 6px 8px;
    border-radius: 3px;
    background-color: white;
    font-size: 12px;
}

.card .rating{
    width: 100%;
    margin: 2px 0px;
}

.card .rating .star{
    width: 12px;
    display: inline-block;
    margin-right: 5px;
}

.card .rating .rate{
    display: inline-block;
}

.card .rating .rate > span{
    color: #c0c0c0;
}

.card .card-text p{
    margin: 2px 0px;
}

/* .cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 100%;
    overflow-x: auto;
    padding: 1px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    /* display: flex;          /* ADD */
    /*flex-direction: column; /* ADD */
    /*position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
/*.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
/*.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
} */